<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>My Favorite Links</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>My Favorite Links</h1>
      </header>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/links">Show All</a></li>
        </ul>
      </nav>

      <section class="main">
        <%= yield %>
      </section>

      <footer>
        Copyright <%= Date.today.year %> Luke A Chase
      </footer>
    </div>
  </body>
</html>
